<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
<head>
    <title>500 Internal Server Error</title>
    <meta charset="utf-8">
</head>
<body>
    <h1>Internal Server Error</h1>
    <p>The server encountered an internal error and was unable to complete your request.</p>

    {% if logs_dump %}
        <p>If the problem remains contact us with details provided bellow:</p>
        <textarea cols="70" rows="10">{{ log_dump }}</textarea>
    {% endif %}
</body>
