{% extends "base.html" %}

{% block content %}
    <h2>Enter unique device name</h2>

    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <form name="device" action="set_device" method="post">
        <div class="form-group">
		    <label for="devname">Device name:</label>
            <input type="text" class="form-control" name="devname" id="devname" autofocus="on" value="{{ device_name|default('', true) }}">
        </div>
		<input type="submit" class="btn btn-primary" value="Register device">
	</form>
{% endblock %}