{% extends "base.html" %}

{% block content %}
    <h2>Configuration finished</h2>

    <p>Perfect! ... Your Beetangle Player is now configured</p>
    <p>The last step is to expand the root partition to use the full capacity of your SD card. Press the button bellow and process will start. Don't switch off the Player and wait till it restarts itself at the end. Once it will start again, you can connect to the same address for monitoring it.</p>
    <br />
    <br />
    <!--TODO: disable button once clicked -->
    <button class="btn btn-primary" id="extend_btn">Start expanding</button>

    <script src="/static/js/jquery-2.1.1.min.js"></script>
    <script>
        var clicks = 0;

        $('#extend_btn').on('click', function () {
            $(this).text('Expanding ....').attr('disabled', 'disabled');
            location.href = '{{ url_for("extend_root_partition") }}';
        });
    </script>
	
{% endblock %}

