{% extends "base.html" %}

{% block content %}
	<h2>Configuration finished</h2>

    <p>Everything needed has been set and configured. Now the Player needs to be reboot. Once rebooted, you can connect to the same address to monitor it and reconfigure if needed.</p>
    <br />
    <br />
    <a href="{{ url_for('restart_device') }}" class="btn btn-primary">Reboot now</a>
	
{% endblock %}