{% extends "base.html" %}

{% block content %}
    {% for category, msg in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{% if category == 'error' %}danger{% else %}success{% endif %}">{{ msg }}</div>
    {% endfor %}

    <div class="row">
        <div class="col-xs-6">
            <h3>Current playlist{% if config.queue_name  %} - {{ config.queue_name }}{% endif %}</h3>
            <table class="table table-striped" id="playlist">
                <tbody>
                    {% for clip in playlist %}
                        <tr>
                            <td>{{ loop.index0 + 1 }}.</td>
                            <td><img src="{{ clip.clip_thumbnail }}" onerror="this.style.display = 'none'"></td>
                            <td>{{ clip.clip_name }}</td>
                        </tr>
                    {% else %}
                        <tr><td>Playlist is empty.</td></tr>
                    {% endfor %}
                </tbody>
            </table>

            <a href="{{ url_for('restart_player') }}" class="btn btn-default btn-lg">Restart playout</a>
        </div>
        <div class="col-xs-6">
            <h3>Beetangle Account</h3>

            <ul class="list-group">
                <li class="list-group-item">Team:
                    <strong>{{ config.team }}</strong></li>
                <li class="list-group-item">Channel:
                    <strong>{{ config.channel_name }}</strong></li>
            </ul>

            <a href="{{ url_for('disconnect') }}" class="btn btn-danger btn-lg" onclick="return confirm('This will disconnect Player from your Beetangle account and delete the playlist. Are you sure you want to do it?')">Disconnect Player</a>

            <h3>Control panel</h3>


            <div class="btn-group btn-group-justified">
                <a href="{{ url_for('update_player') }}" class="btn btn-default btn-lg" onclick="return confirm('Update may need to restart the player so the website and playout will be unavailable for a while. Are you sure?')">Update SW</a>
                <a href="{{ url_for('restart_device') }}" class="btn btn-default btn-lg" onclick="return confirm('The website and playout will be unavailable for a while. Are you sure?')">Restart Player</a>
                <a href="{{ url_for('show_logs') }}" class="btn btn-default btn-lg">Show logs</a>
            </div>

            <br>

            <ul class="list-group">
                <li class="list-group-item">Last check for playlist update:
                    <strong id="iso-date">{{ config.last_downloader_run|default('-', true) }}</strong>
                </li>
            </ul>
            <a href="{{ url_for('run_downloader') }}" class="btn btn-default btn-lg">Force playlist update</a>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function padZeros(n) {
            return (n < 10) ? '0' + n : n;
        }

        function isValidDate(d) {
            return ((Object.prototype.toString.call(d) === "[object Date]") && (!isNaN(d.getTime())));
        }

        function formatDate(el) {
            var d = new Date(el.innerText);
            if (isValidDate(d)) {
                el.innerText = d.getDate() + '/' + (d.getMonth() + 1) + '/' + d.getFullYear() + ' ' + padZeros(d.getHours()) + ':' + padZeros(d.getMinutes()) + ':' + padZeros(d.getSeconds());
            }
        }

        formatDate(document.getElementById('iso-date'));
    </script>
{% endblock %}
